@model List<UserVM>
@foreach (UserVM item in Model)
{
    <tr>
        <td>@item.UserID</td>
        <td>@item.UserName</td>
        <td>@item.FirstName @item.LastName</td>
        <td>@item.Email</td>
        <td><a class="btn btn-warning">Update</a></td>
        <td><a class="btn btn-danger">Delete</a></td>
    </tr>
}