@model List<UserVM>
@foreach (UserVM item in Model)
{
    <tr>
        <td>@item.UserName</td>
        <td>@item.FirstName @item.LastName</td>
        <td>@item.Email</td>
        <td><a class="btn btn-warning">Update</a></td>
        <td><a class="btn btn-danger" onclick="DeleteUser('@item.UserName')">Delete</a></td>
    </tr>
}