

@model UserVM

<div class="col-12 col-sm-4">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">

                @if (Model.Gender == MakeJobWell.Models.Enum.Gender.Man)
                {
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                }
                else if (Model.Gender == MakeJobWell.Models.Enum.Gender.Woman)
                {
                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Admin" class="rounded-circle" width="150">

                }
                else
                {
                    <img style="background:#ff0000" />
                }

                <div class="mt-3">
                    <h4>@Model.FirstName @Model.LastName</h4>
                    <p class="text-secondary mb-1">@Model.UserName</p>
                    <p class="text-secondary mb-1">@Model.PhoneNumber</p>
                    <p class="text-secondary mb-1">@Model.Email</p>
                    <p class="text-muted font-size-sm">@Model.Address</p>
                    <a asp-controller="Complaint" asp-action="WriteComplaint" class="btn" style="background-color:#fc9999;color:white;margin-bottom:5px,auto">Write Complaint</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col">
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-8 text-secondary">
                    @Model.FirstName @Model.LastName
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-8 text-secondary">
                    @Model.Email
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-8 text-secondary">
                    @Model.PhoneNumber
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Username</h6>
                </div>
                <div class="col-sm-8 text-secondary">
                    @Model.UserName
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-8 text-secondary">
                    @Model.Address
                </div>
            </div>
        </div>
    </div>
</div>