
@{
    ViewData["Title"] = "Index";
}

@model UserVM
<div class="container">
    <div class="col-12">
        <div class="col-3">
            <div class="d-flex flex-column align-items-center text-center">
                <div class="mt-3">
                    <h4>@Model.FirstName @Model.LastName</h4>
                    <p class="text-secondary mb-1">@Model.UserName</p>
                    <p class="text-secondary mb-1">@Model.PhoneNumber</p>
                    <p class="text-secondary mb-1">@Model.Email</p>
                    <p class="text-muted font-size-sm">@Model.Address</p>
                    <a class="btn btn-secondary">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>





